# Output files
printbig.o
microc.native
testall.log
_build
microcparse.ml
microcparse.mli
microcparse.output
seaflowparse.ml
seaflowparse.mli
seaflowparse.output
scanner.ml
*.cmi
*.cmo
seaflow
seaflow.native
*.ll
./test-*.out
./test-*.diff
./test-*.exe
./test-*.s

# Environment
**/.DS_store
.devcontainer