# Output files
printbig.o
microc.native
testall.log
_build
microcparse.ml
microcparse.mli
microcparse.output
seaflowparse.ml
seaflowparse.mli
seaflowparse.output
scanner.ml
*.cmi
*.cmo

# Environment
**/.DS_store
.devcontainer